@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  @apply bg-secondary text-white;
}

@font-face {
  font-family: "QanelasSoft";
  font-weight: 100;
  src: url("./fonts/QanelasSoftUltraLight.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "QanelasSoft";
  font-weight: 200;
  src: url("./fonts/QanelasSoftThin.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "QanelasSoft";
  font-weight: 300;
  src: url("./fonts/QanelasSoftLight.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "QanelasSoft";
  font-weight: 400;
  src: url("./fonts/QanelasSoftRegular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "QanelasSoft";
  font-weight: 500;
  src: url("./fonts/QanelasSoftMedium.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "QanelasSoft";
  font-weight: 600;
  src: url("./fonts/QanelasSoftSemiBold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "QanelasSoft";
  font-weight: 700;
  src: url("./fonts/QanelasSoftBold.otf") format("opentype");
  font-display: swap;
}

*,
html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif
}

.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.spinner {
  width: 75px;
  height: 75px;
  border: 13px solid;
  border-color: #3d5af1 #bf1d1d #d0f13d #000000f5;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.linear {
  animation: grow 8s linear infinite;
}
@keyframes grow {
  0% {
    font-size: 3em;
  }
  50% {
    font-size: 8em;
  }
  100% {
    font-size: 3em;
  }
}
.arrowtop {
  display: none;
}

.scrolltoTop:hover > .arrowtop {
  display: inline-block;
  animation: slideOutUp;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.ping {
  -webkit-animation: ping 0.8s ease-in-out infinite both;
  animation: ping 0.8s ease-in-out infinite both;
}

@-webkit-keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
    opacity: 0;
  }
}
@keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
    opacity: 0;
  }
}

.pulse:hover {
  display: inline-block;
  animation: pulse; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
