
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply text-white;
}

@font-face {
  font-family: "Rubik";
  font-weight: 300;
  src: url("./fonts/Rubik-Light.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-weight: 400;
  src: url("./fonts/Rubik-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 500;
  src: url("./fonts/Rubik-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 600;
  src: url("./fonts/Rubik-SemiBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  src: url("./fonts/Rubik-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-weight: 800;
  src: url("./fonts/Rubik-ExtraBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-weight: 900;
  src: url("./fonts/Rubik-Black.ttf") format("truetype");
  font-display: swap;
}

*,
html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Rubik", "Open Sans", sans-serif;

}
body{
  /* padding: 2em; */
  background-color: #000;
}
input,
textarea {
  outline: none;
  color: black;
}

.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.spinner {
  width: 75px;
  height: 75px;
  border: 13px solid;
  border-color: #3d5af1 #bf1d1d #d0f13d #000000f5;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.linear {
  animation: grow 8s linear infinite;
}
@keyframes grow {
  0% {
    font-size: 3em;
  }
  50% {
    font-size: 8em;
  }
  100% {
    font-size: 3em;
  }
}
.arrowtop svg {
  display: none;
}
.arrowtop svg {
  margin: auto;
}
.scrolltoTop:hover > .arrowtop svg {
  animation: slideOutUp;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  display: block;
}
.slideOutUp {
  -webkit-animation: slideOutUp 0.5s ease-in-out infinite both;
  animation: slideOutUp 0.3s ease-in-out infinite both;
}

@keyframes slideOutUp {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0px);
  }
}

.ping {
  -webkit-animation: ping 0.8s ease-in-out infinite both;
  animation: ping 0.8s ease-in-out infinite both;
}

@-webkit-keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
    opacity: 0;
  }
}
@keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
    opacity: 0;
  }
}

.pulse:hover {
  display: inline-block;
  animation: pulse; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.multiline-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap; /* let the text wrap preserving spaces */
}
